//- This is the template of the main component 'App'
//- Is written in pug and it has three children.
//- 
//- 1. 'search' is a input which listen two events, 'enterPressed' and 'searchCriteria'
//- 2. 'suggested-places' shows search suggestions in the prop 'suggesstions' 
//-    also listed the event when one suggestion is clicked
//- 3. 'result' is the place where the forecast is shown through the prop 'result'
//- 

#app
  h1 Learning Vue with Aemet opendata
  #search
    weather-search(
      v-on:searchCriteria='onSearchCriteria' 
      v-on:enterPressed='onEnterPressed')
  #suggested-places
    weather-suggested-places(
      :suggestions='suggestedContent'
      v-on:suggestionClicked='onTownClicked')
  #result
    weather-result(:result='result')
