//- This is the template of the component 'WeatherSearch'
//- Is written in pug
//- 
//- Listen the event when the key enter is pressed
//- It has a bind called 'searchCriteria' which has the input value

input(type='text' placeholder='Write a town ...' v-model="searchCriteria" v-on:keyup.enter="enterPressed")