<!--
'WeaterSuggestedPlaces' is a children of the main component 'App'

It get the prop 'suggestions' from the component 'App'

The suggestions are shown in the template

It has a method for the event 'suggestionClicked' which send the event with the element as value to 'App'

The template is in written in html
In the template, we use the directive v-for to show all the suggestions
Also, we use the directive v-on to listen click event on an element
-->

<template>
<div>
    <div
      v-for="suggestion in suggestions"
      :key="suggestion.NOMBRE"
      v-on:click="suggestionClicked(suggestion)"
    >
      {{ suggestion.NOMBRE }}
    </div>
</div>
</template>

<script>
export default {
  name: 'WeatherSuggestedPlaces',
  props: {
    suggestions: {
      type: Array
    }
  },
  methods: {
    suggestionClicked (element) {
      this.$emit('suggestionClicked', element)
    }
  }
}
</script>
