<!--
'WeaterSearch' is a children of the main component 'App'

It has a inital value for 'searchCriteria' (input in the templeate)

It has a method for the event 'enterPressed' which send the event without value to 'App'

It watching all the changes in 'searchCriteria' to send an event with 'searchCriteria' value to 'App'

The template is in an external file
-->

<template lang=pug src='../templates/WeatherSearch.pug'>
</template>

<script>
export default {
  name: 'WeatherSearch',
  data () {
    return {
      searchCriteria: ''
    }
  },
  methods: {
    enterPressed () {
      this.$emit('enterPressed')
    }
  },
  watch: {
    searchCriteria () {
      this.$emit('searchCriteria', this.searchCriteria)
    }
  }
}
</script>
