<!--
'WeaterResult' is a children of the main component 'App'

It get a prop from 'App' named 'result'

The template is in an external file

The styles here is only for this component (scoped)
-->

<template lang=pug src='../templates/WeatherResult.pug'>
</template>

<script>
export default {
  name: 'WeatherResult',
  props: {
    result: {
      type: String
    }
  }
}
</script>

<style scoped>
.result{
  width: 500px;
  height: 700px;
}
</style>
