<!--
'App' is the main component

It has three children ('WeatherSearch', 'WeatherResult', 'WeatherSuggestedPlaces')

It has a inital values for 'result' and 'suggestedContent'
Also read the Spanish towns from a json file through a computed

It has three methods, one for each event in this case
'onEnterPressed' call the aemet api using the first search suggention
'onTownClicked' call the aemete api using the town clicked
'onSearchCriteria' shows suggestions about towns when has less than 10 choices

The template is in an external file

The styles here are defined globaly
-->

<template lang=pug src='./templates/App.pug'>
</template>

<script>
import http from 'axios'
import WeatherSearch from './components/WeatherSearch.vue'
import WeatherResult from './components/WeatherResult.vue'
import WeatherSuggestedPlaces from './components/WeatherSuggestedPlaces'
import townsJson from './assets/towns.json'

export default {
  name: 'App',
  components: {
    WeatherSearch,
    WeatherResult,
    WeatherSuggestedPlaces
  },
  data () {
    return {
      result: '...',
      suggestedContent: []
    }
  },
  computed: {
    towns () {
      let towns = []
      townsJson.forEach(element => {
        towns.push(JSON.parse(element))
      })
      return towns
    }
  },
  methods: {
    onEnterPressed () {
      http({
        method: 'GET',
        headers: {
          'cache-control': 'no-cache'
        },
        url: `https://opendata.aemet.es/opendata/api/prediccion/provincia/manana/${this.suggestedContent[0].CPRO}`,
        params: {
          api_key: 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjZWNpbGlvLmFsb25zb0BnbWFpbC5jb20iLCJqdGkiOiIyN2Q0ZjEwYS0xOTI4LTQ1ZjEtOGZhOS0wMGYwM2I3YjJkNGEiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYwNzk0OTExMSwidXNlcklkIjoiMjdkNGYxMGEtMTkyOC00NWYxLThmYTktMDBmMDNiN2IyZDRhIiwicm9sZSI6IiJ9.qe6-mLgKrJxqp2AAabIVD6ZAXSeCaSSfK5jGKwhHXPQ'
        }
      })
        .then(response => response.data)
        .then(response => {
          http({
            method: 'GET',
            url: `${response.datos}`
          })
            .then(forecast => forecast.data)
            .then(response => {
              this.result = response
            })
        })
      this.suggestedContent = []
    },
    onTownClicked (town) {
      http({
        method: 'GET',
        headers: {
          'cache-control': 'no-cache'
        },
        url: `https://opendata.aemet.es/opendata/api/prediccion/provincia/manana/${town.CPRO}`,
        params: {
          api_key: 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjZWNpbGlvLmFsb25zb0BnbWFpbC5jb20iLCJqdGkiOiIyN2Q0ZjEwYS0xOTI4LTQ1ZjEtOGZhOS0wMGYwM2I3YjJkNGEiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYwNzk0OTExMSwidXNlcklkIjoiMjdkNGYxMGEtMTkyOC00NWYxLThmYTktMDBmMDNiN2IyZDRhIiwicm9sZSI6IiJ9.qe6-mLgKrJxqp2AAabIVD6ZAXSeCaSSfK5jGKwhHXPQ'
        }
      })
        .then(response => response.data)
        .then(response => {
          http({
            method: 'GET',
            url: `${response.datos}`
          })
            .then(forecast => forecast.data)
            .then(response => {
              this.result = response
            })
        })
      this.suggestedContent = []
    },
    onSearchCriteria (searchCriteria) {
      let expression = new RegExp(`${searchCriteria}`, 'i')
      let townsFiltered = this.towns.filter(x => expression.test(x.NOMBRE))
      if (townsFiltered.length < 10) {
        this.suggestedContent = townsFiltered
      }
      if (searchCriteria.length < 2) {
        this.suggestedContent = []
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
